<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <section>
        <h3>Radeček</h3>
        <img src="Radko.PNG" alt="photo">
    </section>
    <div class="chat-container">
        <div class="chat">
            <div th:each="message : ${messages}" th:if="${message.getAuthor() == me && message.getContent()!=null}" class="message right"><img th:src="@{/images/{filename}(filename=${me.getImg()})}" alt=""><p th:text="${message.getContent()}"></p></div>
            <div th:each="message : ${messages}" th:if="${message.getAuthor() == me && message.getContent()==null}" class="message right"><img th:src="@{/images/{filename}(filename=${me.getImg()})}" alt=""><img th:src="@{/images/{filename}(filename=${message.getImage()})}"></div>
            <div th:each="message : ${messages}" th:if="${message.getAuthor() != me && message.getContent()!=null}" class="message left"><img th:src="@{/images/{filename}(filename=${message.getAuthor().getImg()})}" alt=""><p th:text="${message.getContent()}"></p></div>
            <div th:each="message : ${messages}" th:if="${message.getAuthor() != me && message.getContent()==null}" class="message left"><img th:src="@{/images/{filename}(filename=${message.getAuthor().getImg()})}" alt=""><img th:src="@{/images/{filename}(filename=${message.getImage()})}"></div>
        </div>
    </div>
    <form action="" method="post">
        <textarea name="" id="" placeholder="your message"></textarea>
        <button type="submit">Send</button>
    </form>
    <form action="" method="post">
        <input type="file">
        <button type="submit"></button>
    </form>
</div>
</body>
</html>