<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <h3>Your Friends</h3>
    <h4 th:text="Number of your friends ${me.getNumOfFriends()}"></h4>
<!--    <form action="" method="post">-->
<!--        <input type="text">-->
<!--        <button type="submit">Find a Friend in your friendlist</button>-->
<!--    </form>-->
    <a href="/contents">Home</a>
    <div class="friend" th:each="friend : ${friends}">
        <img th:src="@{/images/{filename}(filename=${friend.getImg()})}"  alt="myFriend">
        <p th:text="${${friend.getName()}}">Name of said friend</p>
        <p th:text="${${friend.getNumOfFriends()}}">number of friends of said friend</p>
        <a th:if="${generalFunctions.isThereAChat(friend,myChats).isPresent()}" th:href="@{/chat(chatID=${generalFunctions.isThereAChat(friend,myChats).get().getId()})}">Send a message</a>
        <a th:unless="${generalFunctions.isThereAChat(friend,myChats).isPresent()}" th:href="@{/createChat(friendID=${friend.getId()})}">Send a message</a>
        <form action="/endOfFriendship" method="post">
            <input type="hidden" th:value="${friend.getId()}" name="friendID">
            <button type="submit">Unfriend</button>
        </form>
    </div>
</div>
</body>
</html>